// Place all the styles related to the scoots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.datepicker table {
	background-color: gainsboro;
	margin: -62px 0px 0px -4px;
    position: relative;
}